.todo__item {
	display: flex;
	&:not(:last-child) {
		border-bottom: 1px solid var(--gray-10);
	}
	&-input {
		width: calc(100% - 48px - 48px);
		padding: 20px 8px;
		border: none;
		border-radius: 0;
		outline: none;
		font-family: 'Work Sans', sans-serif;
		font-weight: 400;
		font-size: 24px;
		line-height: 24px;
		color: var(--text-100);
		white-space: pre-wrap;
		transition: all 0.2s ease-in-out;
	}
	&-cross {
		display: flex;
		justify-content: center;
		position: relative;
		width: 48px;
		padding: 24px 0;
		border: none;
		background: none;
		cursor: pointer;
		opacity: 0;
		transition: all 0.2s ease-in-out;
		path {
			stroke: var(--text-200);
		}
	}
	&.completed {
		.todo__item-input {
			color: var(--text-300);
			text-decoration: line-through;
		}
	}
	&:hover {
		.todo__item-cross {
			opacity: 1;
		}
	}
}
